* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: rgb(245, 238, 237);
  color: rgb(115, 115, 115);
}

h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

h2 {
  margin-left: 15%;
  margin-bottom: 2%;
}

h3 {
  margin-left: 15%;
  margin-bottom: 5%;
}

p {
  margin-left: 15%;
  margin-bottom: 5%;
}


/* home page */

.home {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: white;
}

.home-img {
  margin: 10% auto 10% auto;
}


/* scan page */



/* btn */

.btn {
  align-self: flex-end;
  margin-right: 5%;
  margin-bottom: 5%;
  /* padding: 10px;
  border-radius: 50%;
  background: #b06fd8; */
}

ul {
  list-style: none;
}

