@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

/* reset all styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* reset button style  */
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* body height to update */
body {
  /* font-family: "Lato", sans-serif; */
  font-family: "Oxygen", sans-serif;
  color: rgb(115, 115, 115);
  max-height: 740px;
}

/* 
h2 {
  margin-left: 15%;
  margin-bottom: 2%;
} */



p {
  margin-left: 15%;
  margin-bottom: 5%;
}

ul {
  list-style: none;
}



/* HOME PAGE */

.home {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: white;
}

.btn-home-grey {
  margin-top: 3%;  
}

.home-img {
  margin: 10% auto 10% auto;
}

h3 {
  margin-left: 10%;
  margin-bottom: 5%;
  font-weight: lighter;
}

.btn-header {
align-self: center;
}

/* SCAN PAGE */

.scan-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 740px;
  max-width: 360px;
}

 .upper-img {
  margin-top: 3%;
  z-index:2;
  position:absolute;
}

.drawingBuffer {
  height: 10px;
  z-index:1;
} 

.calendar {
  display: flex;
  justify-content: flex-end;
  width: 88%;
  margin: 5%;
  /* border: solid 1px red; */
  font-family: "Oxygen", sans-serif;
  color:  #b06fd8;
  font-weight: bold;
}

form {
  display: flex;
  border: solid 1px #b06fd8;
  border-radius: 7px;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.react-datepicker-wrapper {
  width: 70%;
  /* border: solid 1px blue; */
}

.react-datepicker__input-container {
  /* border: solid 1px orange; */
  width: 100%;
  padding: 3% 2%;
}

input {
  border: none;
  color: #b06fd8;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  width: 65%;
  margin-left: 3%;
  margin-top: 3%;
}

.calendar-input {
  font-size: 17px;
  font-weight: bolder;
}

/* react-datepicker-popper */
.react-datepicker__tile--hasActive {
  position: absolute; 
  will-change: transform; 
  top: 0px; 
  left: 0px; 
  transform: translate3d(100px, 440px, 0px);
}

.react-datepicker__triangle {
  display: none;
}

.calendar-btn {
  background-image: linear-gradient(to right bottom, #7185ea, #8380e7, #937be3, #a275de, #b06fd8);
  color: white;
  height: 35px;
  width: 35px;
  /* margin-right: 1%; */
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  font-size: 28px;
}


/* HEADERS */

.header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 10% 7%;
  height: 20vh;
}

h1 {
  margin: auto 0%; 
  font-size: 30px;
  font-weight: 300;
}

/* header button */

.btn-header {
  background: #ffffff;
  border-radius: 15px;
  width: 60px;
  height:60px;
  padding: 3px 0px 0px 3px;
}

.list-icon {
  margin: 15%;
}

/* header button border */
.module-border-wrap {
  background-image: linear-gradient(to top, #7185ea, #b06fd8, #dd53b4, #f53b82, #f73c4a);
}

.module {
  background: #fff;
  color: black;
  border-radius: 13px;
  width: 54px;
  height:54px;
  /* margin: 2px; */
}

.products-page {
  display: flex;
  background:#ffffff;
  flex-direction: column;
  /* border: solid 1px black; */
  height: 740px;
  max-width: 360px;
  }


/* ITEMS */

/* items list */

.products-list {
  width:100%;
  padding-top: 10%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /* max-height: 75%; */
  min-height: 80vh;
  background: rgb(228, 228, 228, 0.5);
  overflow: hidden;
  overflow-y: scroll;
  /* z-index: 3; */
}

/* items */
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0% auto 8% auto;
  box-shadow: -5px 10px 15px 0px rgba(163,163,163,0.8);
  height: 110px;
  width: 90%;
  color: black;
  background: #ffffff;
  border-radius: 15px;
}

/* items info*/
.item-info {
  display: flex;
  flex-direction: column;
  width: 210px;
  margin: 1% 1% 1% 2%;
  text-align: left;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

h4 {
  text-align: left;
  margin: 2% 2% 3% 1%;
}

.item-category {
  font-weight: lighter;
}

.item-info3 {
  font-weight: lighter;
  font-size:0.8em;
}

.delete-btn {
  justify-self: flex-end;
  padding-top: 3%;
  margin-right: 3%;
  cursor: pointer;
  /* border: solid 1px orange; */
}

/* PRODUCT PAGE */

.status {
  display: flex;
  /* margin-top: 0; */
  height: 110px;
  width: 55px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
}

h5 {
  margin: auto;
}


.status-red {
  background-image: linear-gradient(to right bottom, #f53b82, #f83874, #f93767, #f93858, #f73c4a);
}

.status-pink {
  background-image: linear-gradient(to right bottom, #dd53b4, #e54ca8, #ec459c, #f1408f, #f53b82);
}

.status-purple {
  background-image: linear-gradient(to right bottom, #b06fd8, #bd68d1, #c962c8, #d35abf, #dd53b4);
}

.status-blue {
  background-image: linear-gradient(to right bottom, #7185ea, #8380e7, #937be3, #a275de, #b06fd8);
}








